<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Microservice</title>
    <meta name="description" content="Let's learn about our most precious files, shall we?">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        File Metadata
      </h1>
    </header>

    <main>
      
      <p>
        'One day we may know the terrors and delights which dwell within these murky files'
      </p>
      <p>
        <i>
          <b>Colonel Kurtz </b> - 1890
        </i>
      </p>
      <h2>
        Demystify A File 
      </h2>
      <form id="myForm" name="myForm" enctype="multipart/form-data" method="post" action="/upload">
        <input type="file" id="myFile" name="myFile" />
        <input id="myButton" type="submit" name="submit"/>
      </form>
    </main>
  </body>
</html>
